/* Large */
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 35px; 
  padding: 0 50px 0 50px;
  }

  .toolbarColor{
    background-color:transparent;
  }

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

.navigation button {
  display: block;
  font-size: 16px;
  background-color: transparent;
  font-weight: 400;
}

.headerButtonAligment{
  display: flex;
  align-items: center;
}

.roundedImage{
  margin-left: 25px;
}

.roundedImage:hover{
  cursor: pointer;
}