<mat-toolbar class="toolbarColor">
    <mat-toolbar-row class="navigation">
        <img src="assets/images/logo.png" alt="Office hub logo">
        <div class="headerButtonAligment">
            <a mat-button *ngIf="isLoggedIn()" (click)="onBackButtonClick()" >Logout</a>
            <div *ngIf="isLoggedIn()"  [routerLink]="'/bookings'">
                <img class="roundedImage" src="assets/images/User_icon.jpg" alt="User avatar icon picture" >
                <!-- <a mat-button *ngIf="isLoggedIn()"  [routerLink]="'/bookings'">User icon</a> -->
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>