<mat-toolbar class="toolbarColor">
    <mat-toolbar-row class="navigation">
        <img src="assets/images/logo.png" alt="Office hub logo">
        <div class="headerButtonAligment">
            <ng-container *ngIf="isLoggedIn()">
            <button mat-flat-button  (click)="onBackButtonClick()" >Log out</button>
            <div (click)="onUserButtonClick()">
                <ng-container *ngIf="userID==2">
                    <img class="roundedImage" src="assets/images/John.png" alt="User_icon">
                </ng-container>
                <ng-container *ngIf="userID==5">
                    <img class="roundedImage" src="assets/images/Svensson.png" alt="User_icon">
                </ng-container>
                <ng-container *ngIf="userID==3">
                    <img class="roundedImage" src="assets/images/Keanu.png" alt="User_icon">
                </ng-container>
            </div>
            </ng-container>
        </div>
    </mat-toolbar-row>
</mat-toolbar>