<div class="container">
    <div class="middle-container">
        <div class="container-header">
            <h1>Choose your building</h1>
            <h6>in {{building}}, {{cityName}}</h6>
        </div>
        <div class="button-list-container">
            <button class="button-select" *ngFor="let floor of floors$ | async"
                (click)="onBuildingSelectClick(floor.floorID, floor.floorName)">
                <span>{{floor.floorName}}</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div class="bottom-navigation">
            <button mat-button (click)="onBackButtonClick()">
                <mat-icon class="mat-icon-style">keyboard_arrow_left</mat-icon>
                Back
            </button>
        </div>
    </div>
</div>
