<div class="page-layout">
<app-header></app-header>
<div class="content-layout">
    <ng-container *ngIf="bookings$ | async as bookings">
        <ng-container *ngIf="bookings.length; else noBookings">
            <ng-container *ngIf="!isDisabled; else selectBooking">
            <div class="calendar">
                <div class="calendar-card-container">
                    <mat-card class="calendar-card">
                        <mat-calendar #calendar [minDate]="selectedDate" [maxDate]="selectedDate"
                            [(selected)]="selectedDate">
                        </mat-calendar>
                    </mat-card>
                </div>
            </div>
            <div class="tables-container">
                <div class="tables-image">
                    <img src="assets/images/floor_plan.png" alt="Floor layout">
                    <svg id="tables-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 740 1060">
                        <path *ngFor="let desk of allDesks$ | async" id="{{desk.desk_id}}" [attr.d]=desk.desk_coordinates />
                    </svg>
                </div>
            </div>
        </ng-container>
    </ng-container>

        <ng-container *ngIf="bookings.length">
            <div class="desk-confirmation-column">
                <div class="desk-confirmation-container">
                    <mat-selection-list #bookingsList [multiple]="false">
                        <p>List of your existing bookings:</p>
                        <mat-list-option class="button-select" *ngFor="let booking of bookings$|async"
                            [value]="booking.booking_id"
                            (click)="onSelectedBookingClick(booking.booking_date, booking.booking_id, booking.desk_number)">
                            Desk {{booking.desk_number}}, {{booking.booking_date}},
                            {{booking.building_name}}, {{booking.floor_name}}
                        </mat-list-option>
                        <div class="buttonAligment">
                            <button mat-flat-button (click)="onClickStartBooking()">Start new booking</button>

                            <button mat-flat-button *ngIf="!isDisabled" (click)="onCancelBookingClick()">Cancel
                                booking</button>
                        </div>
                    </mat-selection-list>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #noBookings>
    <div class="noBookings">
        <p>You have no bookings</p>
        <button class="no-bookings-button" mat-flat-button (click)="onClickStartBooking()">
            Start new booking
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</ng-template>
<ng-template #selectBooking>
    <div class="select-booking">
        <p>Select booking to see details</p>
    </div>
</ng-template>