
<mat-sidenav-container class="fullScreenContainer">
    <mat-sidenav mode="side" opened position="end" class="sideNavigationBar" fixedBottomGap="100px">
        <mat-selection-list #bookingsList *ngIf="(bookings$ |async)?.length !== 0" [multiple]="false">
            <h4>List of your existing bookings:</h4>
            <mat-list-option *ngFor="let booking of bookings$ | async" [value]="booking.id" (click)="onSelectedBookingClick()">
                {{booking.desk_id}}, {{booking.date}}
                {{booking.building_name}}, {{booking.floor}}
            </mat-list-option>
            <button mat-raised-button (click)="onClickStartBooking()">Start new booking</button>
            <p>
            <button mat-raised-button *ngIf="bookingsList.selectedOptions.selected[0]">Cancel booking</button>
            </p>
        </mat-selection-list>
        <div *ngIf="(bookings$ |async)?.length === 0">
            <p>You have no bookings</p>
            <button mat-raised-button (click)="onClickStartBooking()">Start new booking</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="(bookings$ |async)?.length === 0">
            <p>You have no bookings</p>
            <button mat-raised-button (click)="onClickStartBooking()">Start new booking</button>
        </div>

        <div class="booking-info-container" *ngIf="(bookings$ |async)?.length !== 0"> 
            <div class="booking-info-child calendar">
                <mat-card class="calendar-card">
                    <mat-calendar [(selected)]="selectedDate"></mat-calendar>
                </mat-card>
            </div>
            <div class="booking-info-child img">
                <img src="assets/images/20-floor.png" alt="Floor layout">
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!--   -->
    
    
    
