<div class="full-screen">
<app-header></app-header>
    <div class="container">
        <div class="middle-container">
            <div class="container-header">
                <h1>Choose an account</h1>
            </div>
            <div class="button-list-container">
                <button class="button-select" *ngFor="let user of users$ | async" (click)="onUserSelectClick(user.userID)">
                        <ng-container *ngIf="user.userID==2">
                            <img src="assets/images/John.png" alt="User_icon">
                        </ng-container>
                        <ng-container *ngIf="user.userID==5">
                            <img src="assets/images/Svensson.png" alt="User_icon">
                        </ng-container>
                        <ng-container *ngIf="user.userID==3">
                            <img src="assets/images/Keanu.png" alt="User_icon">
                        </ng-container>
                        <span class="button-text">
                            <span>{{user.name}} {{user.surname}}</span>
                            <span>{{user.email}}</span>
                        </span>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button (click)="onClickDeleteAllCookies()">Add account</button>
            </div>
        </div>
    </div>
</div>